{% extends 'base.html.twig' %}

{% block title %}Hello SaisonController!{% endblock %}

{% block body %}

<a href="{{ path('app_saison_creation') }}">{% trans %} Add.your.season {% endtrans %}</a>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between" >
{%for saisons in saisons%}
<div style="display: flex; flex-direction: column">
<h1>{{saisons.name}}</h1>
<img src = {{saisons.image}} width ='300' ></img>
{% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('app_saison_detail', {'id': saisons.id}) }}">Modifier</a>
      <a href="{{ path('app_saison_supprimer', {'id': saisons.id}) }}">Supprimer</a>
   {% endif %}
</div>
{%endfor%}
   </div>
{% endblock %}
