{% extends 'base.html.twig' %}

{% block title %}Hello StandController!{% endblock %}

{% block body %}

<div>
<a href="{{ path('app_stand_creation') }}">{% trans %} Add.your.stand {% endtrans %}</a>
   {% for stand in stand %}
    <h1> {{stand.name}}</h1>
    <h2> Pouvoirs : </h2>
    {% for standPouvoirs in stand.pouvoirs %}
    <text> {{standPouvoirs.name}} </text><br>
    {%endfor%}
    <h2> Points Fort : </h2>
    {%for standPtsFort in stand.pointsFort %}
    <text> {{standPtsFort.name}} </text><br>
    {%endfor%}
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('app_stand_detail', {'id': stand.id}) }}">Modifier</a>

      <a href="{{ path('app_stand_supprimer', {'id': stand.id}) }}">Supprimer</a>
   {% endif %}
   {% endfor %}
   
</div>   
</div>
{% endblock %}
