{% extends 'base.html.twig' %}

{% block title %}Hello StatutController!{% endblock %}

{% block body %}
<a href="{{ path('app_statut_creation') }}">{% trans %} Add.your.status {% endtrans %}</a>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between; flex-direction: row">
   {% for statut in statut %}
    <div style="display: flex; flex-direction: column;">
        <text>{{statut.name}}</text><br>
        {%for personnage in statut.personnages %}
            <text>{{personnage.name}}</text>
        {%endfor%} 
        <br>
     {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_statut_detail', {'id': statut.id}) }}">Modifier</a>
        <a href="{{ path('app_statut_supprimer', {'id': statut.id}) }}">Supprimer</a>
    {% endif %}
    </div>
   {%endfor%}
  
</div>
{% endblock %}
