{% extends 'base.html.twig' %}

{% block title %}Hello PoseController!{% endblock %}

{% block body %}

<div>
<a href="{{ path('app_pose_creation') }}">{% trans %} Add.your.pose {% endtrans %}</a>

{% for characterName, poses in uniqueCharacterNames %}
    <h3>{{ characterName }}</h3>
    {% for pose in poses %}
        <text>{{ pose.pose }} </text> 
        <text style="font-weight: bold"> Saison associé : </text>
        {% for saison in pose.saisons %}
            <text>{{ saison }} </text>
        {% endfor %}
        <br>
        {% if is_granted('ROLE_ADMIN')%}
      <a href="{{ path('app_pose_detail', {'id': pose.id}) }}">Modifier</a>
      <a href="{{ path('app_pose_supprimer', {'id': pose.id}) }}">Supprimer</a><br>
   {% endif %}
    {% endfor %}
        
{% endfor %}
</div>
</div>
{% endblock %}
