<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jojo's bizarre adventure{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {# Inclure vos propres fichiers CSS s'ils sont nécessaires à votre projet Soul Eater #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_home') }}">Jojo's bizarre adventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">{% trans %}home{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_personnages') }}">{% trans %}character{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_pose') }}"> {% trans %}pose{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_saison') }}"> {% trans %}season{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_stand') }}">{% trans %}stand{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_statut') }}">{% trans %}status{% endtrans %}</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_pouvoirs') }}">{% trans %}power{% endtrans %}</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_points_fort') }}">{% trans %}strength{% endtrans %}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user') }}">{% trans %} user{% endtrans %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">{% trans %}Register{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">{% trans %}Sign.in{% endtrans %}</a>
                </li>

            </ul>
        </div>
    </nav>
{% endblock %}
<div class="container mt-2 mb-2">
    {% block body %}
        {# Contenu spécifique à chaque page sera inclus ici #}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>